body{
    margin: 0;
    padding: 0;
}

#getBook{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 20px 0 20px 0;
}

.bookInfo{
   margin: 0 10px 0 10px;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
}

#showBooks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: red;
    margin: 10px;
    padding: 20px 10px 0px 10px;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    width: 25vw;
    height: 25vh;
    line-break: auto;
}

.btns{
    border: none;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    margin-bottom: 5px;
    height: 3vh;
    width: 12vw;
}

.Rbtn {
    margin-left: 2px;
}

.Nbtn {
    margin-right: 2px;
}